/* Fonts */
/* Colors */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.container {
  max-width: 768px;
  margin: auto;
  position: relative;
  background-color: white;
}

header {
  background-color: #81D0E8;
  height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: .25fr 1fr 1fr;
      grid-template-rows: .25fr 1fr 1fr;
  overflow: hidden;
}

nav {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #81D0E8;
  color: #f4fffb;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
}

nav img {
  cursor: pointer;
}

nav span {
  font-size: 1.2rem;
  font-weight: 300;
}

nav .brand {
  height: 27px;
  position: relative;
  top: 5px;
}

nav .brand img {
  height: 27px;
}

nav .menu {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.social-media .line {
  height: 60px;
}

.social-media .social-media img {
  cursor: pointer;
}

.hero-caption {
  color: #f4fffb;
  max-width: 250px;
  font-size: 18px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-caption p {
  font-weight: 300;
}

.hero-caption h1 {
  font-weight: 800;
  margin: 0;
}

.hero-caption button {
  background-color: #71A1D1;
  color: #f4fffb;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 10px;
}

.hero-img {
  position: absolute;
  width: 550px;
  bottom: 100px;
  right: -50px;
}

.water-mark {
  display: none;
}

section {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 100vh;
}

section .bubble {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 100px;
}

.product-caption {
  -ms-grid-column: 1;
  grid-column: 1;
  display: inline-block;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 50px;
}

.product-caption p {
  font-size: 1.5rem;
  margin: 5px 0;
}

.product-caption h1 {
  font-weight: 800;
  margin: 5px 0;
}

.product-caption .sale {
  color: #E03D3D;
}

.product-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.product-img .gradient-bubble {
  height: 250px;
  display: block;
  margin: auto;
}

.product-img .hero-sm {
  position: absolute;
  bottom: 0px;
  left: 7%;
  width: 350px;
}

.product-img .tag {
  display: inline-block;
  background-color: #E03D3D;
  color: white;
  padding: 2px 15px;
  margin: 0;
  border-radius: 5px;
  position: absolute;
  left: 15%;
  font-size: .75em;
}

.sm-bubble {
  display: none;
}

.md-bubble {
  display: none;
}

.lg-bubble {
  display: none;
}

.popular-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  position: relative;
  margin-bottom: 25px;
}

.popular-list .title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.item1, .item2 {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

.item1 h1, .item2 h1 {
  margin: 2px 0;
  font-size: 1.2em;
}

.item1 .discount, .item2 .discount {
  display: inline-block;
  background-color: #E03D3D;
  color: white;
  margin: 0;
  padding: 2px 20px;
  font-size: .75rem;
  position: absolute;
  top: 25px;
}

.item1 .muted, .item2 .muted {
  color: gray;
  font-weight: 400;
}

.item1 .new-price, .item2 .new-price {
  color: #E03D3D;
  margin-top: 15px;
}

.item1 .old-price, .item2 .old-price {
  color: gray;
  text-decoration: line-through;
  font-weight: 400;
}

hr {
  max-width: 768px;
  margin: auto;
}

footer {
  max-width: 768px;
  text-align: center;
  margin: auto;
  height: 100px;
  padding-top: 25px;
}

footer p {
  margin: 0;
}

@media (min-width: 768px) {
  header {
    height: 700px;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .water-mark {
    display: block;
    position: absolute;
    top: 100px;
    width: 775px;
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
    opacity: 0.75;
  }
  .hero-img {
    position: absolute;
    width: 700px;
    right: 0;
    bottom: 10px;
  }
  .hero-caption {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/ span 2;
  }
  .feature {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: .55fr 1fr;
        grid-template-rows: .55fr 1fr;
    height: 700px;
  }
  .feature .bubble {
    position: absolute;
    top: 55px;
    left: 80px;
    height: 100px;
  }
  .product-caption {
    -ms-grid-column: 1;
    grid-column: 1;
    display: inline-block;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    left: 0;
    top: 30px;
  }
  .product-img {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .product-img .gradient-bubble {
    height: 350px;
    display: block;
    margin: 0 0 0 auto;
    padding-right: 100px;
  }
  .product-img .hero-sm {
    position: absolute;
    bottom: 0px;
    left: 38%;
    width: 400px;
  }
  .product-img .tag {
    display: inline-block;
    background-color: #E03D3D;
    color: white;
    padding: 2px 15px;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: .75em;
  }
  .popular-list {
    width: 532px;
    margin: auto;
  }
  .item1 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .item2 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .sm-bubble {
    display: block;
    position: absolute;
    width: 150px;
    top: 0px;
    left: 50px;
    z-index: -1;
  }
  .md-bubble {
    display: block;
    position: absolute;
    bottom: 350px;
    left: 70px;
    z-index: -1;
  }
  .lg-bubble {
    display: block;
    width: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

/* Fonts */
/* Colors */
